<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>걸음 수, 만보 이미지를 사용하여 사진 편집을 하기 위해서는 사진 앨범에 대한 접근 권한이 필요합니다.</string>
	<key>NSCameraUsageDescription</key>
	<string>현재 걷고 있는 길을 촬영하여 기록을 남기기 위해서는 카메라에 대한 접근 권한이 필요합니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>걸음 수, 만보 이미지를 사용하여 사진 편집을 하기 위해서는 사진 앨범에 대한 접근 권한이 필요합니다.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSHealthUpdateUsageDescription</key>
	<string>걸음 수를 표시하기 위해서 건강 앱에 대한 접근 권한이 필요합니다. 만보랑은 여러분의 개인 정보를 수집하지 않습니다.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>걸음 수를 표시하기 위해서 건강 앱에 대한 접근 권한이 필요합니다. 만보랑은 여러분의 개인 정보를 수집하지 않습니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>날씨 정보를 얻기 위해서는 사용자의 위치 정보에 대한 접근 권한이 필요합니다. 허용하지 않으면 &apos;서울시청&apos;을 기준으로 표시됩니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>날씨 정보를 얻기 위해서는 사용자의 위치 정보에 대한 접근 권한이 필요합니다. 허용하지 않으면 &apos;서울시청&apos;을 기준으로 표시됩니다.</string>
	<key></key>
	<string></string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Onboarding</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
